.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.large-column,
.medium-column,
.small-column,
.column-in-thirds,
.column-75percent {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

.captionList {
    list-style: none;
    float: left;
    padding-left: 0;
}

body > main > div:nth-child(3) > div:nth-child(5) > div:nth-child(1) > video {
    width: 270px;
    height: 152px;
}


li {
    padding: 0 0 1em 0;
    margin-left: 0;
}

img {
    width: 100%;
    margin: 0 0;
}

@media screen and (min-width: 768px) {
    .medium-column {
        width: 50%;
    }

    .small-column {
        width: 25%;
    }

    .small-offset {
        margin-left: 25%;
    }
    .column-in-thirds {
        width: 33.3%;
    }

    .column-75percent {
        width: 75%;
    }
}