* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

html {
    background-color: #B9DBFC;
    font-size: 8px;
}

.main {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 5vh 30vh 65vh;
    grid-row-gap: 3vh;
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.weather-table {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.weather-grid {
    display: grid;
    grid-gap: 3vw;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    overflow: hidden;
}

#today {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#tomorrow {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#day-after-tomorrow {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.weather-item {
    background-color: #F1F1F1;
    text-align: center;
}

.map {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 2px;
}

#map-canvas {
    height: 95%;
}

#lattitude,
#longitude {
    margin-bottom: 5px;
}
